/* line 8, ../../../src/scss/main.scss */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

/* line 18, ../../../src/scss/main.scss */
body {
  background: #2c3e50;
}

/* line 2, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar .brand img {
  height: 1em;
}
/* line 6, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar #repo-list {
  width: 400px;
}
/* line 9, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar #repo-list .filter {
  margin: 5px;
}
/* line 12, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar #repo-list .filter .search-query {
  width: 100%;
  padding: 13px;
  box-sizing: border-box;
}
/* line 19, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar #repo-list .repo-list {
  height: 300px;
  overflow: auto;
}
/* line 25, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar #issue-search {
  width: 20em;
  margin: 5px;
}
/* line 30, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar #settings {
  padding: 5px;
}

/* line 2, ../../../src/app/board/board.scss */
.repos_base.container {
  width: 100%;
}

/* line 8, ../../../src/app/board/board.scss */
ul.user-list, ul.issue-columns, ul.column-body {
  margin: 0;
  padding: 0;
}

/* line 13, ../../../src/app/board/board.scss */
ul.issue-columns {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-left: 25px;
}
/* line 17, ../../../src/app/board/board.scss */
ul.issue-columns > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
  vertical-align: top;
}

/* line 24, ../../../src/app/board/board.scss */
.avatar {
  max-width: 30px;
  max-height: 30px;
  border-radius: 5px;
}

/* line 30, ../../../src/app/board/board.scss */
.btn.backlog {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  position: absolute;
  top: 175px;
}

/* line 2, ../../../src/app/board/columns/issue_columns.scss */
.column-header {
  text-align: center;
  position: relative;
  box-sizing: border-box;
  margin-top: 0;
  color: #555;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 3px;
  padding-left: 10px;
  border: 1px solid #e5e5e5;
  background: #f3f3f3;
  font-size: 100%;
}
/* line 18, ../../../src/app/board/columns/issue_columns.scss */
.column-header .wip_count {
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: light-grey;
  float: right;
}
/* line 25, ../../../src/app/board/columns/issue_columns.scss */
.column-header .wip_count.over_limit {
  background: red;
}

/* line 32, ../../../src/app/board/columns/issue_columns.scss */
.column {
  width: 16%;
  margin: 0;
  padding: 0 10px;
  margin-before: 0;
  vertical-align: top;
  box-sizing: border-box;
  min-height: 1000px;
}

/* line 46, ../../../src/app/board/columns/issue_columns.scss */
.column-body {
  min-height: 1000px;
}

/* line 2, ../../../src/app/issue/issues.scss */
.card_wrapper {
  list-style: none;
}

/* line 5, ../../../src/app/issue/issues.scss */
.card {
  border: 1px solid #080b0e;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width: 100%;
  position: relative;
  margin: 8px 0;
  padding: 0;
  background: #e8ecec;
  list-style-type: none;
  min-height: 42px;
  /** styling for the build headers */
  /** Voting styling */
}
/* line 18, ../../../src/app/issue/issues.scss */
.card .build_header {
  height: 5px;
  margin-top: -1px;
  width: 100%;
  border-radius: 3px 3px 0 0;
  background: #95a5a6;
  border-top: 1px solid #bfc8c9;
  border-bottom: 1px solid #798d8f;
}
/* line 29, ../../../src/app/issue/issues.scss */
.card.success .build_header {
  background: #27ae60;
  border-top: 1px solid #4bd786;
  border-bottom: 1px solid #1e8449;
}
/* line 35, ../../../src/app/issue/issues.scss */
.card.failure .build_header {
  background: #e74c3c;
  border-top: 1px solid #ef8b80;
  border-bottom: 1px solid #d62c1a;
}
/* line 41, ../../../src/app/issue/issues.scss */
.card.pending .build_header {
  background: #3498db;
  border-top: 1px solid #75b9e7;
  border-bottom: 1px solid #217dbb;
}
/* line 47, ../../../src/app/issue/issues.scss */
.card.unknown .build_header {
  background: #95a5a6;
  border-top: 1px solid #bfc8c9;
  border-bottom: 1px solid #798d8f;
}
/* line 54, ../../../src/app/issue/issues.scss */
.card.dragging {
  background: blue;
}
/* line 58, ../../../src/app/issue/issues.scss */
.card .header {
  margin: 0;
  padding: 3px 50px 3px 5px;
  font-size: 1.2em;
  font-weight: bold;
  background: #fff;
  border-bottom: 1px solid #ccd4d5;
  position: relative;
}
/* line 66, ../../../src/app/issue/issues.scss */
.card .header:first-child {
  border-radius: 3px 3px 0 0;
}
/* line 70, ../../../src/app/issue/issues.scss */
.card .icon-code-fork {
  color: #6d8082;
  font-size: 1em;
  font-weight: bold;
  margin-right: 3px;
}
/* line 76, ../../../src/app/issue/issues.scss */
.card .number {
  display: inline-block;
  border: 1px solid #3498db;
  color: #3498db;
  font-size: .85em;
  font-weight: normal;
  padding: 0 4px;
  border-radius: 3px;
  background-color: #f7fbfe;
}
/* line 85, ../../../src/app/issue/issues.scss */
.card .number:hover {
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
}
/* line 89, ../../../src/app/issue/issues.scss */
.card .number:hover .icon-code-fork {
  color: #fff;
}
/* line 94, ../../../src/app/issue/issues.scss */
.card .title {
  white-space: normal;
  line-height: 1.3em;
}
/* line 99, ../../../src/app/issue/issues.scss */
.card .avatar {
  height: 50px;
  max-height: 50px;
  max-width: 50px;
  position: absolute;
  right: -5px;
  top: -6px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.5);
}
/* line 109, ../../../src/app/issue/issues.scss */
.card .avatar.empty {
  height: 25px;
  right: 0;
  top: -1px;
  border-radius: 0;
  box-shadow: none;
  opacity: .7;
}
/* line 118, ../../../src/app/issue/issues.scss */
.card .content {
  margin: 0;
  padding: 0 5px;
  white-space: normal;
}
/* line 124, ../../../src/app/issue/issues.scss */
.card .milestone {
  display: inline-block;
  padding: 2px 10px 2px 7px;
  margin: 1px 2px 0 -8px;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  background-color: #95a5a6;
  border: 1px solid #617374;
  border-top-color: #a3b1b2;
  border-left-color: #272e2e;
  font-style: italic;
  font-weight: normal;
  font-size: .9em;
  border-radius: 0 3px 3px 0;
}
/* line 142, ../../../src/app/issue/issues.scss */
.card .label {
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  border-right: 1px solid rgba(0, 0, 0, 0.35);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
  display: inline-block;
  margin: 2px;
}
/* line 156, ../../../src/app/issue/issues.scss */
.card .reviews {
  position: relative;
  white-space: normal;
  padding: 3px 6px 1px;
}
/* line 160, ../../../src/app/issue/issues.scss */
.card .reviews .vote_count {
  display: inline-block;
  margin: 0 0 2px 0;
  padding: 2px 8px 3px;
  border-radius: 13px 0 0 13px;
  background: #95a5a6;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.45), 1px 1px 0 white;
  font-weight: bold;
  font-size: 1em;
}
/* line 174, ../../../src/app/issue/issues.scss */
.card .reviews .vote_count.even {
  border-radius: 13px;
}
/* line 177, ../../../src/app/issue/issues.scss */
.card .reviews .vote_count.positive {
  background: #27ae60;
}
/* line 180, ../../../src/app/issue/issues.scss */
.card .reviews .vote_count.negative {
  background: #e74c3c;
}
/* line 185, ../../../src/app/issue/issues.scss */
.card .reviews .vote_avatar {
  max-width: 20px;
  max-height: 20px;
  border-style: solid;
  border-width: 3px;
  margin: 0 4px 2px -1px;
  border-color: grey;
  vertical-align: middle;
}
/* line 193, ../../../src/app/issue/issues.scss */
.card .reviews .vote_avatar.yes {
  border-color: #229955;
}
/* line 196, ../../../src/app/issue/issues.scss */
.card .reviews .vote_avatar.no {
  border-color: #e43725;
}
/* line 204, ../../../src/app/issue/issues.scss */
.card .stats {
  position: absolute;
  right: 3px;
  bottom: 5px;
  padding: 0 4px;
  color: #95a5a6;
  font-size: 1.2em;
}
/* line 211, ../../../src/app/issue/issues.scss */
.card .stats:hover {
  color: #3e4a4a;
}
/* line 214, ../../../src/app/issue/issues.scss */
.card .stats span {
  margin-right: 10px;
}
/* line 216, ../../../src/app/issue/issues.scss */
.card .stats span.todos i {
  margin-right: 5px;
}
/* line 219, ../../../src/app/issue/issues.scss */
.card .stats span:last-child {
  margin-right: 0;
}

/* line 230, ../../../src/app/issue/issues.scss */
.issue_detail .user-selector .dropdown-menu li {
  margin: 4px;
}
/* line 231, ../../../src/app/issue/issues.scss */
.issue_detail .user-selector .dropdown-menu li:hover {
  background: blue;
}
/* line 236, ../../../src/app/issue/issues.scss */
.issue_detail .user-selector .dropdown-menu li .avatar {
  padding: 4px;
}
/* line 243, ../../../src/app/issue/issues.scss */
.issue_detail .label_bar {
  border-style: solid;
  border-width: 1px;
  border-right: none;
  min-width: 300px;
  display: inline-block;
  border-radius: 2px;
  padding: 2px;
  margin: 2px;
  margin-right: 0px;
}
/* line 255, ../../../src/app/issue/issues.scss */
.issue_detail .label_bar .label {
  margin: 2px;
}
/* line 260, ../../../src/app/issue/issues.scss */
.issue_detail .label_editor {
  display: inline-block;
}
/* line 263, ../../../src/app/issue/issues.scss */
.issue_detail .label_editor .label-item {
  margin: 3px;
  padding: 2px;
  border-style: line;
  border-width: 1px;
  border-radius: 2px;
}
/* line 270, ../../../src/app/issue/issues.scss */
.issue_detail .label_editor .label-item.enabled {
  background-color: blue;
}
/* line 274, ../../../src/app/issue/issues.scss */
.issue_detail .label_editor .label-item .pill {
  border-radius: 2px;
  padding: 2px;
}

/* line 282, ../../../src/app/issue/issues.scss */
.convert_to_pull {
  margin: 8px;
}
/* line 285, ../../../src/app/issue/issues.scss */
.convert_to_pull .branch-selector {
  display: inline-block;
}
/* line 289, ../../../src/app/issue/issues.scss */
.convert_to_pull .branch-pulldown {
  width: 300px;
  margin-top: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #666;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
}
/* line 303, ../../../src/app/issue/issues.scss */
.convert_to_pull .branch-pulldown .menu-header {
  padding: 8px 10px;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(#fafafa, #eeeeee);
  background-image: -webkit-linear-gradient(#fafafa, #eeeeee);
  background-image: linear-gradient(#fafafa, #eeeeee);
  background-repeat: repeat-x;
  border-bottom: 1px solid #dddddd;
}
/* line 313, ../../../src/app/issue/issues.scss */
.convert_to_pull .branch-pulldown .menu-list {
  max-height: 400px;
  overflow: auto;
}
/* line 318, ../../../src/app/issue/issues.scss */
.convert_to_pull .branch-pulldown .menu-item {
  cursor: pointer;
  border-bottom: 1px solid #eeeeee;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  color: inherit;
}
/* line 327, ../../../src/app/issue/issues.scss */
.convert_to_pull .branch-pulldown .menu-item:hover {
  background: blue;
}
