/* line 7, ../../../src/scss/main.scss */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

/* line 17, ../../../src/scss/main.scss */
html, body {
  background: #2c3e50;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* line 25, ../../../src/scss/main.scss */
.repos_base.container {
  width: 100%;
  height: 100%;
}

/* line 32, ../../../src/scss/main.scss */
.avatar {
  max-width: 30px;
  max-height: 30px;
  border-radius: 5px;
}

/* line 39, ../../../src/scss/main.scss */
.no-scroll {
  overflow: hidden;
}

/* line 1, ../../../src/app/login/login.scss */
#login-form {
  width: 400px;
  margin: 0 auto;
  color: #c2c2c2;
  padding: 10px;
  border-radius: 30px;
  border: 12px solid #191919;
  margin-top: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}
/* line 17, ../../../src/app/login/login.scss */
#login-form .header h2 {
  color: #f1f1f1;
}
/* line 22, ../../../src/app/login/login.scss */
#login-form .form-row {
  width: 250px;
  margin: 0 auto;
}
/* line 27, ../../../src/app/login/login.scss */
#login-form input[type=text], #login-form input[type=password] {
  box-sizing: border-box;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
}
/* line 35, ../../../src/app/login/login.scss */
#login-form .bottom-row span {
  float: left;
}
/* line 38, ../../../src/app/login/login.scss */
#login-form .bottom-row button {
  float: right;
}

/* line 1, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar {
  margin-bottom: 1px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 45px;
  /**
   * Add styling for when a repo is hover (helps the user know which one they
   * will be selecting.
   */
}
/* line 10, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar .navbar-inner {
  border-radius: 0;
}
/* line 14, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar .brand img {
  height: 1em;
}
/* line 18, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar ol, .board-toolbar ul {
  margin: 0;
}
/* line 22, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar #repo-list {
  width: 400px;
}
/* line 25, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar #repo-list .filter {
  margin: 5px;
}
/* line 28, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar #repo-list .filter .search-query {
  margin-top: 9px;
  width: 100%;
  padding: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 37, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar #repo-list h3 {
  margin: 0px;
}
/* line 41, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar #repo-list .org-list {
  height: 300px;
  overflow: auto;
}
/* line 47, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar #issue-search {
  width: 20em;
  margin: 5px;
}
/* line 52, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar #settings {
  padding: 5px;
}
/* line 64, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar .dropdown-menu li:hover {
  background: none;
}
/* line 69, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar .repo-list {
  list-style: none;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
.board-toolbar .repo-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 72, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar .repo-list > li {
  font-weight: bold;
  padding: 1px 9px;
}
/* line 76, ../../../src/app/toolbar/toolbar.scss */
.board-toolbar .repo-list > li:hover {
  background-color: #3498db;
  color: white;
}

/* line 84, ../../../src/app/toolbar/toolbar.scss */
.toolbar-clear {
  position: absolute;
  top: 44px;
  bottom: 0px;
}

/***************************************
 *        COLUMNS
 ***************************************/
/* line 12, ../../../src/app/board/columns/issue_columns.scss */
.card-wrapper {
  list-style: none;
}

/* line 19, ../../../src/app/board/columns/issue_columns.scss */
.user-list,
.issue-columns,
.milestone-columns,
.column-body {
  margin: 0;
  padding: 0;
}

/************* COLUMNS ****************/
/* line 30, ../../../src/app/board/columns/issue_columns.scss */
.columns,
.columns > div {
  height: 100%;
}

/* line 36, ../../../src/app/board/columns/issue_columns.scss */
.issue-columns,
.milestone-columns {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-left: 25px;
  overflow: auto;
  height: 100%;
  padding-top: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: margin 0.5s ease-in;
  -moz-transition: margin 0.5s ease-in;
  -o-transition: margin 0.5s ease-in;
  transition: margin 0.5s ease-in;
}
/* line 46, ../../../src/app/board/columns/issue_columns.scss */
.issue-columns > li,
.milestone-columns > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
  vertical-align: top;
}

/* line 53, ../../../src/app/board/columns/issue_columns.scss */
.column-header {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 3px 4px 3px 7px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4) inset;
  font-size: 1em;
  line-height: 1.5em;
  text-align: left;
  color: #2c3e50;
}
/* line 67, ../../../src/app/board/columns/issue_columns.scss */
.column-header .wip-count {
  position: absolute;
  right: 0;
  padding: 3px 5px;
  background: transparent;
  border-radius: 50px;
  color: rgba(44, 62, 80, 0.6);
  line-height: 1em;
}
/* line 78, ../../../src/app/board/columns/issue_columns.scss */
.column-header .wip-count.over-limit {
  background: #e74c3c;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  border-right: 1px solid rgba(0, 0, 0, 0.35);
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
}

/* line 88, ../../../src/app/board/columns/issue_columns.scss */
.column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0 10px;
  margin-before: 0;
  vertical-align: top;
}

/* line 97, ../../../src/app/board/columns/issue_columns.scss */
.column-body {
  min-height: 1000px;
}

/************* BACKLOG PANEL ****************/
/* line 104, ../../../src/app/board/columns/issue_columns.scss */
#backlog-drawer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  -webkit-transition: width 0.5s ease-in;
  -moz-transition: width 0.5s ease-in;
  -o-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}
/* line 114, ../../../src/app/board/columns/issue_columns.scss */
#backlog-drawer .drawer {
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: left 0.5s ease-in;
  -moz-transition: left 0.5s ease-in;
  -o-transition: left 0.5s ease-in;
  transition: left 0.5s ease-in;
  z-index: 1;
  background: #42576d;
  border-radius: 0 0 0 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px 12px 10px 8px;
}

/* line 133, ../../../src/app/board/columns/issue_columns.scss */
#backlog-toggle-btn {
  position: absolute;
  top: 5px;
  right: -20px;
  z-index: 10;
  padding: 5px;
  padding-bottom: 6px;
  background: #e8ecec;
  border: 1px solid #ccd4d5;
  border-radius: 0 3px 3px 0;
  color: #95a5a6;
  text-shadow: 0 1px 0 white;
  font-size: 1.5em;
}

/* line 151, ../../../src/app/board/columns/issue_columns.scss */
.show-bl #backlog-drawer .drawer {
  left: 0;
}
/* line 155, ../../../src/app/board/columns/issue_columns.scss */
.show-bl .issue-columns {
  margin-left: 250px;
}

/* line 163, ../../../src/app/board/columns/issue_columns.scss */
.hide-bl #backlog-drawer {
  width: 0;
}
/* line 166, ../../../src/app/board/columns/issue_columns.scss */
.hide-bl #backlog-drawer .drawer {
  left: -250px;
}

/* line 173, ../../../src/app/board/columns/issue_columns.scss */
#new-issue {
  display: block;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  border: 2px dashed rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}
/* line 184, ../../../src/app/board/columns/issue_columns.scss */
#new-issue:hover, #new-issue:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5faee3), color-stop(100%, #258cd1));
  background-image: -webkit-linear-gradient(#5faee3, #258cd1);
  background-image: -moz-linear-gradient(#5faee3, #258cd1);
  background-image: -o-linear-gradient(#5faee3, #258cd1);
  background-image: linear-gradient(#5faee3, #258cd1);
  border: 1px solid #3498db;
  border-color: #258cd1 #258cd1 #1d6fa5;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 6px;
  color: white;
  text-decoration: none;
}
/* line 194, ../../../src/app/board/columns/issue_columns.scss */
#new-issue:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #217dbb), color-stop(100%, #258cd1));
  background-image: -webkit-linear-gradient(#217dbb, #258cd1);
  background-image: -moz-linear-gradient(#217dbb, #258cd1);
  background-image: -o-linear-gradient(#217dbb, #258cd1);
  background-image: linear-gradient(#217dbb, #258cd1);
}

/* line 201, ../../../src/app/board/columns/issue_columns.scss */
.milestone-selection {
  width: 100%;
}

/* line 2, ../../../src/app/board/repo_build_status.scss */
.repo-build-status {
  margin: 0px;
  overflow: hidden;
  *zoom: 1;
}
/* line 6, ../../../src/app/board/repo_build_status.scss */
.repo-build-status li {
  display: inline-block;
  float: left;
  height: 8px;
  background-color: #95a5a6;
}
/* line 14, ../../../src/app/board/repo_build_status.scss */
.repo-build-status li.pending {
  background-color: #3498db;
}
/* line 18, ../../../src/app/board/repo_build_status.scss */
.repo-build-status li.failure {
  background-color: #e74c3c;
}
/* line 22, ../../../src/app/board/repo_build_status.scss */
.repo-build-status li.success {
  background-color: #27ae60;
}

/***************************************
 *        ISSUES/PULLS
 ***************************************/
/* line 30, ../../../src/app/issue/issues.scss */
.issue-number {
  display: inline-block;
  padding: 2px 4px;
  background: #f7fbfe;
  border: 1px solid #3498db;
  border-radius: 3px;
  color: #3498db;
  font-size: .9em;
  font-weight: normal;
  line-height: .9em;
}
/* line 41, ../../../src/app/issue/issues.scss */
.issue-number .icon-code-fork {
  margin-right: -1px;
  color: #6d8082;
  font-size: 1em;
  font-weight: bold;
}
/* line 48, ../../../src/app/issue/issues.scss */
.issue-number:hover {
  background: #3498db;
  color: white;
  text-decoration: none;
}
/* line 53, ../../../src/app/issue/issues.scss */
.issue-number:hover .icon-code-fork {
  color: white;
}

/* line 60, ../../../src/app/issue/issues.scss */
.label {
  display: inline-block;
  overflow: hidden;
  margin: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  border-right: 1px solid rgba(0, 0, 0, 0.35);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
  opacity: .6;
}
/* line 68, ../../../src/app/issue/issues.scss */
.label:hover {
  opacity: 1;
}

/* line 74, ../../../src/app/issue/issues.scss */
.color-preview {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  margin: 0 3px;
}

/* line 83, ../../../src/app/issue/issues.scss */
.vote-count {
  display: inline-block;
  margin: 0 0 2px 0;
  padding: 2px 8px 3px;
  background: #95a5a6;
  border-radius: 13px 0 0 13px;
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.45), 1px 1px 0 rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
}
/* line 95, ../../../src/app/issue/issues.scss */
.vote-count.positive {
  background: #27ae60;
}
/* line 96, ../../../src/app/issue/issues.scss */
.vote-count.negative {
  background: #e74c3c;
}

/* line 99, ../../../src/app/issue/issues.scss */
.dropdown-menu {
  padding: 0;
}
/* line 103, ../../../src/app/issue/issues.scss */
.dropdown-menu .label-item, .dropdown-menu li {
  margin: 0;
  padding: 1px 4px;
  border-bottom: 1px solid #dae0e0;
  cursor: pointer;
  font-size: .95em;
}
/* line 110, ../../../src/app/issue/issues.scss */
.dropdown-menu .label-item:last-child, .dropdown-menu li:last-child {
  border-bottom-width: 0;
}
/* line 114, ../../../src/app/issue/issues.scss */
.dropdown-menu .label-item:hover, .dropdown-menu li:hover {
  background-color: #e8ecec;
}

/************* CARDS ****************/
/* line 124, ../../../src/app/issue/issues.scss */
.card {
  width: 100%;
  min-height: 42px;
  position: relative;
  margin: 8px 0;
  padding: 0;
  background: #e8ecec;
  border: 1px solid #080b0e;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  list-style-type: none;
}
/* line 138, ../../../src/app/issue/issues.scss */
.card .build-header {
  height: 5px;
  width: 100%;
  margin-top: -1px;
  border-radius: 3px 3px 0 0;
  background: #95a5a6;
  border-top: 1px solid #bfc8c9;
  border-bottom: 1px solid #798d8f;
}
/* line 146, ../../../src/app/issue/issues.scss */
.card.success .build-header {
  background: #27ae60;
  border-top: 1px solid #4bd786;
  border-bottom: 1px solid #1e8449;
}
/* line 147, ../../../src/app/issue/issues.scss */
.card.failure .build-header {
  background: #e74c3c;
  border-top: 1px solid #ef8b80;
  border-bottom: 1px solid #d62c1a;
}
/* line 148, ../../../src/app/issue/issues.scss */
.card.pending .build-header {
  background: #3498db;
  border-top: 1px solid #75b9e7;
  border-bottom: 1px solid #217dbb;
}
/* line 149, ../../../src/app/issue/issues.scss */
.card.unknown .build-header {
  background: #95a5a6;
  border-top: 1px solid #bfc8c9;
  border-bottom: 1px solid #798d8f;
}
/* line 152, ../../../src/app/issue/issues.scss */
.card.updated {
  border: 1px solid #217dbb;
  box-shadow: 0 0 2px 2px #5faee3;
}
/* line 156, ../../../src/app/issue/issues.scss */
.card.updated .header {
  background: #dff0fc;
}
/* line 159, ../../../src/app/issue/issues.scss */
.card.updated .stats {
  color: #3498db;
}
/* line 165, ../../../src/app/issue/issues.scss */
.card .header {
  position: relative;
  margin: 0;
  padding: 3px 35px 3px 5px;
  background: white;
  border-bottom: 1px solid #ccd4d5;
  border-radius: 0;
  font-size: 1em;
  font-weight: bold;
}
/* line 175, ../../../src/app/issue/issues.scss */
.card .header:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
/* line 180, ../../../src/app/issue/issues.scss */
.card .header:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 187, ../../../src/app/issue/issues.scss */
.card .title {
  white-space: normal;
}
/* line 192, ../../../src/app/issue/issues.scss */
.card .avatar {
  height: 35px;
  max-height: 35px;
  max-width: 35px;
  position: absolute;
  right: -5px;
  top: -6px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 17.5px;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.5);
}
/* line 204, ../../../src/app/issue/issues.scss */
.card .avatar.empty {
  height: 25px;
  right: 0;
  top: -1px;
  border-radius: 0;
  box-shadow: none;
  opacity: .7;
}
/* line 215, ../../../src/app/issue/issues.scss */
.card .content {
  margin: 0;
  padding: 0 5px;
  white-space: normal;
}
/* line 221, ../../../src/app/issue/issues.scss */
.card .milestone {
  display: inline-block;
  padding: 2px 10px 2px 7px;
  margin: 1px 2px 1px -8px;
  background: #95a5a6;
  border: 1px solid #617374;
  border-top-color: #a3b1b2;
  border-left-color: #272e2e;
  border-radius: 0 3px 3px 0;
  font-size: .9em;
  line-height: 1.2em;
  color: white;
  font-style: italic;
  font-weight: normal;
  vertical-align: baseline;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
}
/* line 240, ../../../src/app/issue/issues.scss */
.card .reviews {
  position: relative;
  white-space: normal;
  padding: 3px 6px 1px;
  overflow: hidden;
  *zoom: 1;
}
/* line 248, ../../../src/app/issue/issues.scss */
.card .vote-avatar {
  max-width: 20px;
  max-height: 20px;
  margin: 0 4px 2px -1px;
  border: 3px solid #95a5a6;
  vertical-align: middle;
}
/* line 255, ../../../src/app/issue/issues.scss */
.card .vote-avatar.yes {
  border-color: #229955;
}
/* line 256, ../../../src/app/issue/issues.scss */
.card .vote-avatar.no {
  border-color: #e43725;
}
/* line 259, ../../../src/app/issue/issues.scss */
.card .votes {
  float: left;
}
/* line 264, ../../../src/app/issue/issues.scss */
.card .stats {
  float: right;
  padding-top: 4px;
  color: #95a5a6;
}
/* line 269, ../../../src/app/issue/issues.scss */
.card .stats:hover {
  color: #3e4a4a;
}
/* line 274, ../../../src/app/issue/issues.scss */
.card .stats span {
  margin-right: 10px;
}
/* line 277, ../../../src/app/issue/issues.scss */
.card .stats span.todos i {
  margin-right: 5px;
}
/* line 281, ../../../src/app/issue/issues.scss */
.card .stats span:last-child {
  margin-right: 0;
}

/* line 288, ../../../src/app/issue/issues.scss */
.drop-area {
  height: 70px;
  background: rgba(255, 255, 255, 0.15);
  border: 2px dashed rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

/************* COMMON MODAL SETTINGS ************/
/* line 296, ../../../src/app/issue/issues.scss */
.modal {
  min-height: 50%;
  max-height: 80%;
  /** Keep the modal at a decent width */
  min-width: 700px;
  width: 60%;
  /* All the modal to resize and stay centered.
  * - requires modals `position:fixed`
  *   stretch the modal across the entire windows width
  * - Give the left and right margins auto sizing which
  *   will center the modal
  */
  left: 0;
  right: 0;
  margin: 0 auto;
  /** Base styling for the modal */
  overflow: auto;
  padding: 0;
  background: #e8ecec;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
/* line 323, ../../../src/app/issue/issues.scss */
.modal .header {
  position: relative;
  margin: 0;
  padding: 3px 90px 3px 65px;
  background: #e8ecec;
  border-bottom: 1px solid #ccd4d5;
  border-radius: 3px 3px 0 0;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 335, ../../../src/app/issue/issues.scss */
.modal .title {
  white-space: normal;
  line-height: 1.3em;
}

/************* DETAILS ****************/
/* line 347, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .issue-number {
  position: absolute;
  top: 2px;
  right: 28px;
  padding: 3px 4px;
}
/* line 355, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .close {
  float: none;
  position: absolute;
  right: 5px;
  top: 3px;
}
/* line 363, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .user-selector {
  position: static;
}
/* line 366, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .user-selector .dropdown-toggle {
  position: static;
  z-index: 100;
}
/* line 371, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .user-selector .dropdown-toggle .avatar {
  height: 60px;
  max-height: 60px;
  max-width: 60px;
  position: absolute;
  left: -5px;
  top: -6px;
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.5);
}
/* line 386, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .user-selector .dropdown-menu {
  z-index: 50;
  margin-top: 19px;
  overflow: auto;
  min-width: 200px;
  max-height: 250px;
}
/* line 393, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .user-selector .dropdown-menu h4 {
  margin: 0;
  padding: 6px 5px 0;
  background: #ccd4d5;
  border-bottom: 1px solid #b1bdbd;
  font-size: .8em;
}
/* line 401, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .user-selector .dropdown-menu .avatar {
  border-radius: 2px;
}
/* line 408, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .status-header {
  width: 100%;
  height: 28px;
  position: relative;
  padding: 0;
  background: #95a5a6;
  border-top: 1px solid #798d8f;
  border-bottom: 1px solid #798d8f;
}
/* line 418, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .build-status {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 80%;
  z-index: 10;
  overflow: hidden;
  padding: 3px 0 3px 65px;
  border-right: 1px solid #6d8082;
}
/* line 428, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .build-status.success {
  background: #89e5b0;
}
/* line 22, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .build-status.success a {
  color: #19703e;
}
/* line 429, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .build-status.failure {
  background: #f8c9c4;
}
/* line 22, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .build-status.failure a {
  color: #bf2718;
}
/* line 430, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .build-status.pending {
  background: #b6daf2;
}
/* line 22, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .build-status.pending a {
  color: #1d6fa5;
}
/* line 431, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .build-status.unknown {
  background: #e8ecec;
}
/* line 22, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .build-status.unknown a {
  color: #6d8082;
}
/* line 435, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .comment-summary {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  right: 1px;
  top: 0;
  z-index: 0;
  min-width: 20%;
  height: 100%;
  padding: 3px 0;
  margin: 0;
  color: white;
  font-size: 1.2em;
  text-align: right;
}
/* line 451, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .comment-summary i {
  color: #e8ecec;
}
/* line 456, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .comment-summary span {
  margin-right: 10px;
}
/* line 459, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .comment-summary span.todos i {
  margin-right: 4px;
}
/* line 463, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .comment-summary span:last-child {
  margin-right: 0;
}
/* line 470, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .controls {
  padding: 5px 10px;
  background: white;
  border-bottom: 1px solid #dae0e0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
/* line 478, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal select.milestone {
  display: inline-block;
  width: 25%;
  margin: 2px 0 0 0;
  padding: 0;
  color: black;
  font-size: 1em;
}
/* line 488, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .label-bar {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 55%;
  padding: 0 4px;
  position: relative;
}
/* line 496, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .label-bar .labels {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 2px;
  padding-left: 60px;
  background: rgba(0, 0, 0, 0.025);
  border: 1px solid #ccd4d5;
  border-radius: 0 2px 2px 0;
}
/* line 511, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .label-bar .label {
  margin: 2px;
  opacity: 1;
}
/* line 518, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .label-editor {
  display: inline-block;
  width: 60px;
  position: absolute;
  top: -1px;
  left: 4px;
  z-index: 10;
}
/* line 527, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .label-editor .btn {
  width: 100%;
  padding: 4px;
  margin-top: 1px;
  border-radius: 3px 0 0 3px;
  font-size: .85em;
}
/* line 535, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .label-editor .btn span {
  font-size: .85em;
}
/* line 542, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .label-editor .open .btn {
  border-radius: 3px 0 0 0;
}
/* line 546, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .label-editor .dropdown-menu {
  margin: -2px 0 0;
  border-radius: 0 4px 4px 4px;
  border-top: 6px solid #e6e6e6;
  padding: 0;
}
/* line 555, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .label-editor .label-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 560, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .label-editor .label-item.enabled {
  background: #bfc8c9;
}
/* line 565, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .label-editor .label-item .color-preview {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  margin: 0 3px;
}
/* line 576, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .convert-pull {
  height: 29px;
  width: 20%;
  padding: 0 4px;
}
/* line 583, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .description {
  padding: 10px 20px;
  background: white;
  border-bottom: 1px solid #ccd4d5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
/* line 590, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .description.empty {
  display: none;
}
/* line 594, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .description h4 {
  margin: 0;
  color: #95a5a6;
  font-size: 1em;
}
/* line 602, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .comments {
  padding: 10px;
  border-radius: 0 0 3px 3px;
}
/* line 606, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .comments .comment {
  position: relative;
  margin: 0 0 10px;
}
/* line 611, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .comments .comment:last-child {
  margin: 0;
}
/* line 616, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .comments .commenter {
  height: 40px;
  max-height: 40px;
  max-width: 40px;
  position: absolute;
  left: -2px;
  top: -2px;
  border: 2px solid #b1bdbd;
  border-radius: 25px;
}
/* line 627, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .comments .comment-body {
  margin: 0 0 0 30px;
  padding: 7px 10px 7px 15px;
  background: #fff;
  border: 3px solid #ccd4d5;
}
/* line 634, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .comments .comment-body p:last-child {
  margin: 0;
}
/* line 640, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .comments h4 {
  margin: 0 0 0 47px;
  font-size: 1em;
  color: #95a5a6;
  font-weight: normal;
}
/* line 647, ../../../src/app/issue/issues.scss */
.modal.issue-details-modal .comments h4 em {
  font-style: normal;
  color: #6d8082;
  font-weight: bold;
}

/* line 658, ../../../src/app/issue/issues.scss */
.pull select.milestone {
  width: 35%;
}
/* line 661, ../../../src/app/issue/issues.scss */
.pull .label-editor {
  left: 10px;
}
/* line 664, ../../../src/app/issue/issues.scss */
.pull .label-bar {
  width: 65%;
  padding-left: 10px;
}
/* line 670, ../../../src/app/issue/issues.scss */
.pull .convert-pull {
  display: none;
}
/* line 675, ../../../src/app/issue/issues.scss */
.pull .branch-info {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 3px 5px;
  background: #f6f7f7;
  border-bottom: 1px solid #dae0e0;
  font-size: .9em;
  text-align: center;
}
/* line 686, ../../../src/app/issue/issues.scss */
.pull .branch-info pre {
  display: inline;
  padding: 1px 4px;
  background: #e1f0fa;
  border-color: #b6daf2;
  white-space: nowrap;
  font-size: .95em;
}

/************* CONVERT TO PULL ****************/
/* line 698, ../../../src/app/issue/issues.scss */
.convert-modal {
  min-height: 80%;
}
/* line 701, ../../../src/app/issue/issues.scss */
.convert-modal .convert-header {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.2em;
  padding: 6px 12px;
  border-bottom: 1px solid #ccc;
}
/* line 708, ../../../src/app/issue/issues.scss */
.convert-modal .branches {
  margin: 6px 12px;
  font-size: 1.3em;
}
/* line 713, ../../../src/app/issue/issues.scss */
.convert-modal .branch-selector {
  display: inline-block;
}
/* line 717, ../../../src/app/issue/issues.scss */
.convert-modal .branch-pulldown {
  width: 300px;
  margin-top: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #666;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
}
/* line 731, ../../../src/app/issue/issues.scss */
.convert-modal .branch-pulldown .menu-header {
  padding: 8px 10px;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(#fafafa, #eeeeee);
  background-image: -webkit-linear-gradient(#fafafa, #eeeeee);
  background-image: linear-gradient(#fafafa, #eeeeee);
  background-repeat: repeat-x;
  border-bottom: 1px solid #ddd;
}
/* line 741, ../../../src/app/issue/issues.scss */
.convert-modal .branch-pulldown .menu-list {
  max-height: 400px;
  overflow: auto;
}
/* line 746, ../../../src/app/issue/issues.scss */
.convert-modal .branch-pulldown .menu-item {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  color: inherit;
}
/* line 755, ../../../src/app/issue/issues.scss */
.convert-modal .branch-pulldown .menu-item:hover {
  background: blue;
}
/* line 761, ../../../src/app/issue/issues.scss */
.convert-modal .compare-summary {
  margin: 8px;
}
/* line 770, ../../../src/app/issue/issues.scss */
.convert-modal .compare-summary .compare.btn {
  margin: 5px;
}
/* line 774, ../../../src/app/issue/issues.scss */
.convert-modal .compare-summary .commit {
  margin: 5px;
  background: #fff;
  border: 3px solid #ccd4d5;
}
/* line 779, ../../../src/app/issue/issues.scss */
.convert-modal .compare-summary .commit .avatar {
  margin: 2px;
}
/* line 782, ../../../src/app/issue/issues.scss */
.convert-modal .compare-summary .commit .hash {
  float: right;
  margin: 5px;
}
/* line 791, ../../../src/app/issue/issues.scss */
.convert-modal .compare-summary .file_list .file_details .file_header .filename {
  font-weight: bold;
}
/* line 794, ../../../src/app/issue/issues.scss */
.convert-modal .compare-summary .file_list .file_details .file_header .additions {
  color: green;
}
/* line 796, ../../../src/app/issue/issues.scss */
.convert-modal .compare-summary .file_list .file_details .file_header .additions:before {
  content: "+";
}
/* line 801, ../../../src/app/issue/issues.scss */
.convert-modal .compare-summary .file_list .file_details .file_header .deletions {
  color: red;
}
/* line 803, ../../../src/app/issue/issues.scss */
.convert-modal .compare-summary .file_list .file_details .file_header .deletions:before {
  content: "-";
}

/***************************************
 *        FILTERS
 ***************************************/
/************* FILTER PANEL ****************/
/* line 16, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
/* line 23, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer .drawer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: right 0.5s ease-in;
  -moz-transition: right 0.5s ease-in;
  -o-transition: right 0.5s ease-in;
  transition: right 0.5s ease-in;
  z-index: 1;
  width: 175px;
  background: white;
  border-radius: 0;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}
/* line 37, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer .drawer.hide {
  display: block;
  right: -175px;
}
/* line 42, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer .drawer.show {
  right: 0;
}
/* line 48, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer #filter-toggle-btn {
  position: absolute;
  top: 1px;
  left: -20px;
  padding: 5px;
  background: #e8ecec;
  border: 1px solid #ccd4d5;
  border-right-color: #e8ecec;
  border-radius: 3px 0 0 3px;
  color: #95a5a6;
  text-shadow: 0 1px 0 white;
  font-size: 1.5em;
}
/* line 64, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer h1 {
  position: relative;
  z-index: 100;
  margin: 0;
  padding: 6px;
  background: #e8ecec;
  border-top: 1px solid #ccd4d5;
  border-bottom: 1px solid #ccd4d5;
  color: #95a5a6;
  font-size: 1.2em;
  line-height: 1.2em;
  text-shadow: 0 1px 0 white;
}
/* line 79, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer .content {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 2.4em;
}
/* line 92, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer h3 {
  padding: 0 6px;
  margin: 6px 0 3px;
  color: #95a5a6;
  font-size: .9em;
  line-height: .9em;
}
/* line 101, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer ul {
  list-style: none;
  margin: 0;
}
/* line 107, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer li {
  padding: 6px;
  margin: 2px 6px;
  border-radius: 3px;
  cursor: pointer;
}
/* line 115, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer li .icon-remove {
  float: right;
  display: none;
  padding: 3px;
}
/* line 121, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer li:hover {
  background: #e8ecec;
}
/* line 127, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer .active {
  background: #3498db;
  color: white;
}
/* line 131, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer .active:hover {
  background: #217dbb;
}
/* line 136, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer .active:hover .icon-remove {
  display: block;
}
/* line 143, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer .collaborator {
  margin-left: 12px;
}
/* line 148, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer .avatar {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 3px solid white;
  border-radius: 0;
}
/* line 155, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer .avatar.active {
  border-color: #3498db;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}
/* line 160, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer .avatar.active:hover {
  border-color: #217dbb;
}
/* line 165, ../../../src/app/issue_filters/issue_filter.scss */
#issue-filters-drawer .avatar:hover {
  border-color: #e8ecec;
}

/* Gmail style scrollbar */
/* line 52, ../../../src/scss/main.scss */
::-webkit-scrollbar {
  width: 12px;
}

/* line 55, ../../../src/scss/main.scss */
::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
}

/* line 58, ../../../src/scss/main.scss */
::-webkit-scrollbar-track {
  border-width: 0;
}

/* line 61, ../../../src/scss/main.scss */
::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

/* line 66, ../../../src/scss/main.scss */
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

/* line 70, ../../../src/scss/main.scss */
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

/* line 75, ../../../src/scss/main.scss */
::-webkit-scrollbar-track:horizontal {
  border-width: 4px 0 0;
}

/* line 78, ../../../src/scss/main.scss */
::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}

/* line 82, ../../../src/scss/main.scss */
::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

/* line 85, ../../../src/scss/main.scss */
::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

/* line 89, ../../../src/scss/main.scss */
::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 92, ../../../src/scss/main.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 101, ../../../src/scss/main.scss */
::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 1px 1px;
  padding: 0 0 0 100px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

/* line 106, ../../../src/scss/main.scss */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}

/* line 110, ../../../src/scss/main.scss */
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

/* line 114, ../../../src/scss/main.scss */
::-webkit-scrollbar-track {
  border-width: 0 1px 0 6px;
}

/* line 117, ../../../src/scss/main.scss */
::-webkit-scrollbar-track:horizontal {
  border-width: 6px 0 1px;
}

/* line 120, ../../../src/scss/main.scss */
::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.035);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 124, ../../../src/scss/main.scss */
::-webkit-scrollbar-thumb {
  border-width: 0 1px 0 6px;
}

/* line 127, ../../../src/scss/main.scss */
::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 0 1px;
}

/* line 130, ../../../src/scss/main.scss */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* line 133, ../../../src/scss/main.scss */
body::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 0 0 0 3px;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

/* line 140, ../../../src/scss/main.scss */
body::-webkit-scrollbar-track-piece:horizontal {
  border-width: 3px 0 0;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 144, ../../../src/scss/main.scss */
body::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 5px;
}

/* line 147, ../../../src/scss/main.scss */
body::-webkit-scrollbar-thumb:horizontal {
  border-width: 5px 1px 1px;
}

/* line 150, ../../../src/scss/main.scss */
body::-webkit-scrollbar-corner {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 3px 0 0 3px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14);
}
